extends layout

block layout-content
  div.View
    h1.Banner Scrape Mega
    //- label
      input#calendar(name="Enter Date and Time" type="datetime-local")
    div.NavButtons
      table
        tr
          th
            button#update.NavButton(type="button") Update Now
          th
            a(href="/download")
              button#download.NavButton(type="button") Download Spreadsheet
    include ../public/data.html